 <article
      class="max-w-full  text-black flex flex-col  lg:flex-row justify-around items-center lg:px-15 xl:px-25">

      <div
        class="  flex flex-col py-5 opacity-0 -translate-x-12 transition-all duration-900 ease-out intersect:opacity-100 intersect:translate-x-0    intersect-once intersect-half md:w-200 max-lg:px-10">
        <h2
          class="w-fit text-brown2 mx-auto text-2xl md:text-3xl text-semibold mb-10 bg-brown2/20  font-medium px-3 py-3 rounded-3xl">
          Rénovation carrosserie</h2>
        <p class="text-xl/8 text-justify "> À L’Atelier de Ju, la rénovation de carrosserie est bien plus qu’une simple
          intervention esthétique : c’est un travail d’expertise et de précision destiné à révéler toute la noblesse et
          la profondeur de la peinture de votre véhicule.<br><br>
          Grâce à des techniques professionnelles de polissage, de correction de vernis et d’application de protections
          haut de gamme, chaque véhicule bénéficie d’un traitement minutieux visant à sublimer son éclat tout en
          assurant une protection durable contre les agressions du quotidien.<br>
          Une rénovation carrosserie réalisée dans les règles de l’art permet non seulement de magnifier l’esthétique du
          véhicule, mais aussi d’en préserver durablement la valeur.<br><br>
          
          Confier votre automobile à L’Atelier de Ju, c’est choisir l’exigence, le savoir-faire et la passion du détail,
          au service d’un résultat à la hauteur des véhicules les plus exigeants.<br>
          
        </p>

        <section class="btnDevisGratuit flex flex-col gap-4 mt-4"></section>

      </div>
      <div class="w-full md:w-120 lg:w-170 lg:p-8 max-lg:pt-10 lg:mt-5 mb-5">
        <img loading="lazy" src="/images/carrosserie-capot-avignon.webp" width="800" height="600" alt="carroserie - capot noir avec reflet"
          class="w-full h-150 object-cover md:rounded-2xl ">
      </div>

    </article>