
<h2
    class="w-fit text-brown2 mx-auto text-xl md:text-3xl font-medium px-3 py-3 rounded-3xl bg-brown2/20 mb-5 md:mb-10 text-center">
    Ils nous font confiance
</h2>

<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 justify-items-center gap-0 max-md:gap-8">
    <img src="/images/logo-assela-bouches-du-rhone.webp" width="24" height="24" class="h-35 w-auto object-contain"
        alt="Logo Assela bouches du rhône">
    <img src="/images/logo-classic-designs-vaucluse.webp" width="24" height="24" class="h-35 w-auto object-contain"
        alt="Logo Classic Designs vaucluse">
    <img src="/images/logo-fastn-classic-bouches-du-rhone.webp" width="24" height="24" class="h-35 w-auto object-contain"
        alt="Logo Fast'n Classic bouches du rhône">
    <img src="/images/logo-halleur-bouches-du-rhone.webp" width="24" height="24" class="h-35 w-auto object-contain mt-5 md:col-start-2 lg:col-start-auto"
        alt="Logo Halleur bouches du rhône">
</div>