<h2
    class="w-fit text-brown2 mx-auto text-xl md:text-3xl font-medium px-3 py-3 rounded-3xl bg-brown2/20 mb-5 md:mb-10 text-center">
    Ils nous font confiance
</h2>

<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 justify-items-center gap-0 max-md:gap-8">
    <img src="/images/logo-jussieu-avignon.webp" width="24" height="24" class="h-35 w-55 object-contain"
        alt="Logo jussieu avignon">
    <img src="/images/logo-autoeasy-vaucluse.webp" width="24" height="24" class="h-35 w-75 object-contain"
        alt="Logo AutoEasy vaucluse">
    <img src="/images/logo-channelfret-vaucluse.webp" width="24" height="24" class="h-35 w-auto object-contain"
        alt="Logo ChannelFret vaucluse">
    <img src="/images/logo-crpa-vaucluse.webp" width="24" height="24" class="h-35 w-auto object-contain md:col-start-2 lg:col-start-auto"
        alt="Logo CRPA vaucluse">
</div>