<h2 class="w-fit scroll-mt-24 text-brown2 mx-auto text-xl md:text-3xl text-semibold mb-15 md:mt-5 md:mb-10 bg-brown2/20  font-medium px-3 py-3 rounded-3xl">
    Nos
    prestations</h2>
<div class="grid gap-10 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 mx-auto ">

    <!-- COLONNE CUIR -->
    <div class="  group relative h-90 overflow-hidden bg-cover bg-center cursor-pointer
         bg-[url(/images/porsche-interieur-avignon.webp)] bg-black/40 max-md:bg-black/50 bg-blend-soft-light   intersect-once intersect-half opacity-0 translate-y-6 transition-all duration-900 ease-out intersect:opacity-100 intersect:translate-y-0 intersect:delay-0 ">
        <!-- Overlay animé -->
        <div class="absolute inset-0 bg-black/50  opacity-0
             transition-opacity duration-600 ease-in-out 
             group-hover:opacity-100 max-md:opacity-100">
        </div>

        <div class="relative z-10 h-full flex flex-col items-center justify-center text-center text-white gap-4 px-4">
            <h3 class="text-2xl md:text-3xl font-semibold text-shadow-sm text-shadow-black">Rénovation Cuir </h3>
            <ul class="text-xl md:text-2xl font-semibold flex flex-col mx-auto items-start gap-2 text-shadow-md text-shadow-black">
                <li>Nettoyage</li>
                <li>Réparation</li>
                <li>Protection</li>
                <li>Re-pigmentation</li>
            </ul> 
            <a href="/prestations/renovation-cuir/" target="_blank" class="mt-5 btn btn-outline bg-brown2 border-none text-white transition-all duration-300 ease-out
         hover:-translate-y-1">
                En savoir plus
                <span class="sr-only"> sur la rénovation cuir</span>
            </a>
        </div>
    </div>

    <!-- COLONNE CARROSSERIE -->
    <div class="  group relative h-90 overflow-hidden bg-cover bg-bottom cursor-pointer
         bg-[url(/images/voitures-anciennes-avignon.webp)]  bg-black/40  max-md:bg-black/50 bg-blend-soft-light   intersect-once intersect-half opacity-0 translate-y-6 transition-all duration-900 ease-out intersect:opacity-100 intersect:translate-y-0 intersect:delay-150 ">
        <!-- Overlay animé -->
        <div class="absolute inset-0 bg-black/50 opacity-0
             transition-opacity duration-600 ease-in-out
             group-hover:opacity-100 max-md:opacity-100">
        </div>

        <div class="relative z-10 h-full flex flex-col items-center justify-center text-center text-white gap-4 px-4">
             <h3 class="text-2xl md:text-3xl font-semibold text-shadow-md text-shadow-black">Rénovation Carrosserie</h3>
            <ul class="text-xl md:text-2xl font-semibold flex flex-col mx-auto items-start gap-2 text-shadow-md text-shadow-black">
                <li>Polish</li>
                <li>Traitement céramique</li>
                <li>Protection Glass’coat</li>
            </ul> 
            <a href="/prestations/renovation-carrosserie-polish/" target="_blank" class="mt-5 btn btn-outline bg-brown2 border-none text-white transition-all duration-300 ease-out
         hover:-translate-y-1 ">
                En savoir plus
                <span class="sr-only"> sur la rénovation carrosserie</span>
            </a>
        </div>
    </div>

    <!-- COLONNE NETTOYAGE AUTO -->
    <div class="  group relative h-90 overflow-hidden bg-cover bg-center cursor-pointer
         bg-[url(/images/mercedes-front-vaucluse.webp)] bg-black/40 max-md:bg-black/50 bg-blend-soft-light   intersect-once intersect-half opacity-0 translate-y-6 transition-all duration-900 ease-out intersect:opacity-100 intersect:translate-y-0 intersect:delay-280 md:col-span-2 md:mx-auto lg:col-span-1 md:w-auto lg:w-full">
        <!-- Overlay animé -->
        <div class="absolute inset-0 bg-black/50 opacity-0
             transition-opacity duration-600 ease-in-out
             group-hover:opacity-100 max-md:opacity-100">
        </div>

        <div class="relative z-10 h-full flex flex-col items-center justify-center text-center text-white gap-4 px-4">
            <h3 class="text-2xl md:text-3xl font-bold text-shadow-sm text-shadow-black">Nettoyage Automobile</h3>
            <ul class="text-xl md:text-2xl font-bold flex flex-col items-start gap-2  text-shadow-md text-shadow-black">
                <li>Nettoyage sans eau</li>
                <li>Intérieur</li>
                <li>Extérieur</li>
                <li>Tous types de véhicule</li>
            </ul> 
            <a href="/prestations/nettoyage-automobile/" target="_blank" class="mt-5 btn btn-outline bg-brown2 border-none text-white transition-all duration-300 ease-out
         hover:-translate-y-1 ">
                En savoir plus
                <span class="sr-only"> sur le nettoyage automobile</span>
            </a>
        </div>
    </div>

</div>

