<h2
    class="w-fit max-sm:max-w-[90%] text-brown2 mx-auto text-xl md:text-3xl text-semibold mb-15 md:mt-5 md:mb-10 bg-brown2/20  font-medium px-3 py-3 rounded-3xl text-center">
    Nos différentes prestations réalisées - CARROSSERIE </h2>

<div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10 bg-black/90 py-22 md:py-15 md:px-15 w-full md:max-w-[85%] max-md:px-5 md:rounded-xl mx-auto">
    <img loading="lazy" src="/images/carrosserie-effet-miroir-avignon.webp" width="600" height="400" alt="voiture vue de profil avec effet miroir sur la carrosserie"
        class="w-full h-90 object-cover rounded-md">
    <div class="relative group w-full h-90 rounded-md overflow-hidden">
        <video loop playsinline controls preload="metadata" poster="/images/video-polish-poster.webp"
            class="w-full h-full object-cover rounded-md">
            <source src="/videos/video-polish.mp4" type="video/mp4">
        </video>
        <div class="absolute inset-0 flex items-end justify-start
                 max-md:opacity-100  md:opacity-0 group-hover:opacity-100
                transition-opacity duration-300 pointer-events-none">
            <span class="text-white text-sm md:text-base  mb-12 px-3 py-1 rounded-full bg-brown2/80 backdrop-blur-sm">
                Exemple Polish
            </span>
        </div>
    </div>
    <img loading="lazy" src="/images/voiture-rolls-royce-avignon.webp" width="600" height="400" alt="Rolls Royce exposition vue de face"
        class="w-full h-90 object-cover object-center rounded-md">


    <div class="diff relative group aspect-video w-full h-90 rounded-md overflow-hidden [--color-primary:#A27035]">

        <!-- Overlay texte -->
        <div class="absolute inset-0 z-20 flex items-end justify-between px-6
                md:opacity-0 md:group-hover:opacity-100
                transition-opacity duration-500
                pointer-events-none mb-5">

            <span class="bg-black/70 text-white text-sm md:text-base px-3 py-1 rounded-full backdrop-blur-sm">
                Avant
            </span>

            <span class="bg-brown2 text-white text-sm md:text-base px-3 py-1 rounded-full">
                Après
            </span>
        </div>

        <div class="diff-item-1">
            <img loading="lazy" src="/images/capot-alfa-apres-avignon.webp" class="object-top" width="600" height="400" alt="capot alfa roméo après traitement polish" />
        </div>

        <div class="diff-item-2">
            <img loading="lazy" src="/images/capot-alfa-avant-avignon.webp" class="object-top" width="600" height="400" alt="capot alfa roméo avant traitement polish"/>
        </div>

        <div class="diff-resizer w-65"></div>
    </div>
   <div class="diff relative group aspect-video w-full h-90 rounded-md overflow-hidden [--color-primary:#A27035]">

        <!-- Overlay texte -->
        <div class="absolute inset-0 z-20 flex items-end justify-between px-6
                md:opacity-0 md:group-hover:opacity-100
                transition-opacity duration-500
                pointer-events-none mb-5">

            <span class="bg-black/70 text-white text-sm md:text-base px-3 py-1 rounded-full backdrop-blur-sm">
                Avant
            </span>

            <span class="bg-brown2 text-white text-sm md:text-base px-3 py-1 rounded-full">
                Après
            </span>
        </div>

        <div class="diff-item-1">
            <img loading="lazy"  src="/images/porte-apres-rayures-carrosserie-avignon.webp" class="object-top" width="600" height="400" alt="porte après traitement rayures" />
        </div>

        <div class="diff-item-2">
            <img loading="lazy"  src="/images/porte-avant-rayures-carrosserie-avignon.webp" class="object-top" width="600" height="400" alt="porte avant traitement rayures"/>
        </div>

        <div class="diff-resizer w-65  "></div>
    </div>
    <div class="diff relative group aspect-video w-full h-90 rounded-md overflow-hidden [--color-primary:#A27035]">

        <!-- Overlay texte -->
        <div class="absolute inset-0 z-20 flex items-end justify-between px-6
                md:opacity-0 md:group-hover:opacity-100
                transition-opacity duration-500
                pointer-events-none mb-5">

            <span class="bg-black/70 text-white text-sm md:text-base px-3 py-1 rounded-full backdrop-blur-sm">
                Avant
            </span>

            <span class="bg-brown2 text-white text-sm md:text-base px-3 py-1 rounded-full">
                Après
            </span>
        </div>

        <div class="diff-item-1">
            <img loading="lazy" src="/images/micro-rayures-apres-avignon.webp" alt="porte après traitement micro-rayures"
                width="600" height="400" class="object-left" />
        </div>

        <div class="diff-item-2">
            <img loading="lazy" src="/images/micro-rayures-avant-avignon.webp" alt="porte avant traitement micro-rayures"
                width="600" height="400" class="object-left" />
        </div>

        <div class="diff-resizer w-90  "></div>
    </div>
</div>