<h2
    class="w-fit max-sm:max-w-[90%] text-brown2 mx-auto text-xl md:text-3xl text-semibold mb-15 md:mb-10 bg-brown2/20  font-medium px-3 py-3 rounded-3xl text-center">
    Nos différentes prestations réalisées - Nettoyage </h2>

<div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10 bg-black/90 py-22 md:py-15 md:px-15 w-full md:max-w-[85%] max-md:px-5 md:rounded-xl mx-auto">
    <img loading="lazy" src="/images/voiture-ancienne-beige-avignon.webp" width="600" height="400" alt="voiture vue de profil avec effet miroir sur la carrosserie"
        class="w-full h-90 object-cover object-bottom rounded-md">
    
    <img loading="lazy" src="/images/voiture-porsche-face-avignon.webp" width="600" height="400" alt="voiture vue de profil avec effet miroir sur la carrosserie"
        class="w-full h-90 object-cover object-center rounded-md">
    
    <img loading="lazy" src="/images/voiture-rolls-royce-avignon.webp" width="600" height="400" alt="Rolls Royce exposition vue de face"
        class="w-full h-90 object-cover object-center rounded-md">


    
    <img loading="lazy" src="/images/voiture-alpha-romeo-nettoyage-carrosserie-avignon.webp" width="600" height="400" alt="voiture alfa roméo rouge vue de face"
        class="w-full h-90 object-cover object-top rounded-md">
    <img loading="lazy" src="/images/voiture-mercedes-face-carrosserie-avignon.webp" width="600" height="400" alt="voiture mercedes noire vue de face"
        class="w-full h-90 object-cover object-center rounded-md">
</div>