<a href="/contact.html"
    class="group inline-flex items-center w-fit px-3 py-1 text-base lg:text-lg text-white font-medium rounded-xl bg-brown2 overflow-hidden ">

    <!-- Texte -->
    <span class="transition-transform duration-500 ease-out group-hover:-translate-x-1.5 ">
        Une question ? Contactez-nous
    </span>

    <!-- Chevron -->
    <span class="ml-0 w-0 overflow-hidden
                 transition-all duration-300 ease-out
                 group-hover:ml-1 group-hover:w-5">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path fill="currentColor" d="M8.59 16.58L13.17 12L8.59 7.41L10 6l6 6l-6 6z" />
        </svg>
    </span>

</a>

<a href="#offres_nettoyage" class="w-fit px-3 py-1 text-base lg:text-lg text-white font-medium rounded-xl bg-black transition-all duration-200 ease-out hover:-translate-y-1">
    Nos forfaits 
</a>