<footer class="footer bg-brown2 py-10 px-2 sm:px-6 lg:px-8 max-md:justify-center md:justify-items-start">
    <aside class="gap-6 max-md:w-full max-md:text-center">
        <div class="lg:pl-8">
            <a href="/" class="max-md:w-full max-md:text-center">
                <img src="/images/logo-camel.webp" alt="Logo Atelier de Ju" class=" h-22 md:h-22 w-auto " />
            </a>
            <p class="text-base-content text-sm mt-4 max-md:w-full max-md:text-center">Votre partenaire expert en
                rénovation des cuirs <br> et
                préparation
                esthétique automobile. </p>


        </div>
        <div class="flex  gap-4 lg:pl-8 max-md:w-full max-md:justify-center ">
            <a href="#" class=" after:absolute after:left-0 after:-bottom-1 after:h-0.5 after:w-0 after:bg-white/70 after:transition-all after:duration-300   hover:after:w-full   transition-all duration-300 ease-out
         hover:-translate-y-0.5" aria-label="Lien Instagram">
                <span class="icon-[tabler--brand-instagram] size-5"></span>
            </a>
            <a href="#" class=" after:absolute after:left-0 after:-bottom-1 after:h-0.5 after:w-0 after:bg-white/70 after:transition-all after:duration-300   hover:after:w-full   transition-all duration-300 ease-out
         hover:-translate-y-0.5" aria-label="Lien facebook">
                <span class="icon-[tabler--brand-facebook] size-5"></span>
            </a>
            <a href="#" class=" after:absolute after:left-0 after:-bottom-1 after:h-0.5 after:w-0 after:bg-white/70 after:transition-all after:duration-300   hover:after:w-full   transition-all duration-300 ease-out
         hover:-translate-y-0.5" aria-label="Lien Tiktok">
                <span class="icon-[tabler--brand-tiktok] size-5"></span>
            </a>
            <a href="https://share.google/oKrBhtN69jR5QGuAj" class=" after:absolute after:left-0 after:-bottom-1 after:h-0.5 after:w-0 after:bg-white/70 after:transition-all after:duration-300   hover:after:w-full   transition-all duration-300 ease-out
         hover:-translate-y-0.5" aria-label="Google Link">
                <span class="icon-[tabler--brand-google] size-5"></span>
            </a>
        </div>
    </aside>
    <nav class="text-base-content max-md:w-full">
        <h6 class="footer-title text-lg max-md:w-full max-md:text-center underline underline-offset-4">Services</h6>
        <div class=" max-md:w-44 flex flex-col items-start mx-auto gap-2 ">
            <a href="/prestations/renovation-cuir.html" class="after:absolute after:left-0 after:-bottom-1 after:h-0.5 after:w-0 after:bg-white/70 after:transition-all after:duration-300   hover:after:w-full   transition-all duration-300 ease-out
         hover:-translate-y-0.5 ">Rénovation Cuir</a>
            <a href="/prestations/renovation-carrosserie.html" class=" after:absolute after:left-0 after:-bottom-1 after:h-0.5 after:w-0 after:bg-white/70 after:transition-all after:duration-300   hover:after:w-full   transition-all duration-300 ease-out
         hover:-translate-y-0.5 ">Rénovation Carrosserie</a>
            <a href="/prestations/nettoyage-vehicule.html" class=" after:absolute after:left-0 after:-bottom-1 after:h-0.5 after:w-0 after:bg-white/70 after:transition-all after:duration-300   hover:after:w-full   transition-all duration-300 ease-out
         hover:-translate-y-0.5 ">Nettoyage Véhicule</a>
        </div>

    </nav>
    <nav class="text-base-content max-md:w-full ">
        <h6 class="footer-title text-lg max-md:w-full max-md:text-center underline underline-offset-4">Entreprise</h6>
        <div class=" max-md:w-44 flex flex-col items-start mx-auto gap-2 ">
            <div class=" max-md:w-full max-md:m-auto">
                <ul class="mx-auto max-md:w-44 flex flex-col items-start gap-1">
                    <li class="text-left">lun-ven : 8h30 - 18h</li>
                    <li class="text-left">sam : 9h - 12h</li>
                    
                </ul>
            </div>
            <a href="/contact.html" class="after:absolute after:left-0 after:-bottom-1 after:h-0.5 after:w-0 after:bg-white/70 after:transition-all after:duration-300   hover:after:w-full   transition-all duration-300 ease-out
         hover:-translate-y-0.5  ">Me contacter</a>
            
        </div>


    </nav>
    <nav class="text-base-content max-md:w-full">
        <h6 class="footer-title text-lg max-md:w-full max-md:text-center underline underline-offset-4">Legal</h6>
        <div class="max-md:w-44 flex flex-col mx-auto items-start gap-2">
            <a href="#" class="after:absolute after:left-0 after:-bottom-1 after:h-0.5 after:w-0 after:bg-white/70 after:transition-all after:duration-300   hover:after:w-full   transition-all duration-300 ease-out
         hover:-translate-y-0.5 ">Terms of use</a>
            <a href="#" class="after:absolute after:left-0 after:-bottom-1 after:h-0.5 after:w-0 after:bg-white/70 after:transition-all after:duration-300   hover:after:w-full   transition-all duration-300 ease-out
         hover:-translate-y-0.5 ">Privacy policy</a>
            <a href="#" class="after:absolute after:left-0 after:-bottom-1 after:h-0.5 after:w-0 after:bg-white/70 after:transition-all after:duration-300   hover:after:w-full   transition-all duration-300 ease-out
         hover:-translate-y-0.5 ">Cookie policy</a>
        </div>

    </nav>
</footer>