<article class="max-w-full  mx-auto text-black flex flex-col lg:flex-row lg:px-15 xl:px-55" data-link="/prestations/renovation-carrosserie-polish/">

    <div class="w-full lg:p-8 max-lg:pt-10 ">
        <img loading="lazy" src="/images/carrosserie-capot-avignon-vaucluse.webp" alt="carrosserie - capot noir avec reflet" class="w-full object-cover h-150 lg:rounded-lg">
    </div>

    <div class="w-full flex flex-col justify-around py-5 max-lg:px-5 intersect-once opacity-0 translate-x-12 transition-all duration-900 ease-out intersect:opacity-100 intersect:translate-x-0 intersect-half">
        <h2 class="text-2xl md:text-3xl text-center font-semibold"> Rénovation carrosserie – Micro-rayures - Protection longue durée</h2>
        <p class="text-xl/8 text-justify"> Votre véhicule mérite une finition impeccable. <br><br>
            À <b>L’Atelier de Ju</b>, nous corrigeons micro-rayures, défauts de peinture et perte de brillance grâce à des polissages et lustrages professionnels. 
            <br><br>
            Pour prolonger le résultat, nous appliquons des protections haut de gamme (<b><u>Céramique</u></b> ou <b><u>Glass'coat</u></b>) qui facilitent l’entretien et protègent durablement la carrosserie. Que ce soit pour valoriser votre voiture avant une vente, un retour de leasing ou simplement pour le plaisir, nous vous garantissons un rendu premium et une satisfaction totale.
        </p>

        <section class="btnDevis flex flex-col gap-4 items-end"></section>

    </div>

    

</article>