<article
      class="max-w-full   text-black flex flex-col lg:flex-row justify-around items-center lg:px-15 xl:px-25 md:mb-10"
      data-link="/prestations/renovation-cuir/">

      <div
        class=" flex flex-col py-5 intersect-once opacity-0 -translate-x-12 transition-all duration-900 ease-out intersect:opacity-100 intersect:translate-x-0 intersect-half md:w-200 max-lg:px-10">
         <h2 class="w-fit text-brown2 mx-auto text-xl md:text-3xl text-semibold mb-15 md:mb-10 bg-brown2/20  font-medium px-3 py-3 rounded-3xl">
    Le cuir</h2>
        <p class="text-xl/8 text-justify "> Dans l’automobile, l’ameublement, l’aéronautique ou le yachting, le
          cuir
          compte parmi les textures les plus appréciées. Produit noble par excellence, il offre une diversité d’usages,
          d’aspects, de rendus ou de nuances qui lui confèrent une polyvalence exemplaire. Néanmoins, étant un matériau
          vivant, le cuir requiert un entretien régulier pour conserver toutes ses caractéristiques. Dans le cas
          contraire, il perdra de son élasticité, de son éclat et s’usera inexorablement, jusqu’à s’assécher, voire se
          déchirer.<br><br>
          Peut-être que dans la frénésie du quotidien, vous avez négligé d’entretenir les cuirs de votre canapé qui est
          désormais craquelé ? Peut-être que vous venez aussi d’acquérir un véhicule de collection dont la sellerie a
          souffert d’une usure significative ?

        </p>

        <section class="btnDevisGratuit flex flex-col gap-4 mt-4"></section>

      </div>


      <div
        class=" diff relative group overflow-hidden [--color-primary:#A27035] w-full md:w-120 lg:w-150 h-150 lg:p-8 max-lg:pt-10 lg:mt-5 mb-5">

        <!-- Overlay texte -->
        <div class="absolute inset-0 z-100 flex items-end justify-between px-10
                md:opacity-0 md:group-hover:opacity-100
                transition-opacity duration-500
                pointer-events-none mb-15">

          <span class="bg-brown2 text-white text-sm md:text-base px-3 py-1 rounded-full backdrop-blur-sm">
            Avant
          </span>

          <span class="bg-black/70 text-white text-sm md:text-base px-3 py-1 rounded-full">
            Après
          </span>
        </div>

        <div class="diff-item-1">
          <img loading="lazy" alt="cuir rouge restauré d'un siège " src="/images/siege-rouge-apres-cuir-avignon.webp"
            class="object-center md:rounded-lg" />
        </div>

        <div class="diff-item-2">
          <img loading="lazy" alt="cuir rouge craquelé siège avant restauration" src="/images/siege-rouge-avant-cuir-avignon.webp"
            class="object-center md:rounded-lg" />
        </div>

        <div class="diff-resizer w-45"></div>
      </div>


    </article>