<h2
    class="w-fit max-sm:max-w-[90%] text-brown2 mx-auto text-xl md:text-3xl text-semibold mb-15 md:mt-5 md:mb-10 bg-brown2/20  font-medium px-3 py-3 rounded-3xl text-center">
    Nos différentes prestations réalisées - CUIR </h2>

<div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10 bg-black/90 py-22 md:py-15 md:px-15 w-full md:max-w-[85%] max-md:px-5 md:rounded-xl mx-auto">
    <video muted loop playsinline controls preload="metadata" poster="/images/alpine-verte-poster.webp"
        class="w-full h-90 object-cover rounded-md">
        <source src="/videos/video-teinte-cuir.mp4" type="video/mp4">
    </video>
    <img src="/images/porsche-interieur-resized.webp" alt="véhicules agricoles alignés"
        class="w-full h-90 object-cover rounded-md">
    <div class="diff relative group aspect-video w-full h-90 rounded-md overflow-hidden [--color-primary:#A27035]">

        <!-- Overlay texte -->
        <div class="absolute inset-0 z-20 flex items-end justify-between px-6
                md:opacity-0 md:group-hover:opacity-100
                transition-opacity duration-500
                pointer-events-none mb-5">

            <span class="bg-black/70 text-white text-sm md:text-base px-3 py-1 rounded-full backdrop-blur-sm">
                Avant
            </span>

            <span class="bg-brown2 text-white text-sm md:text-base px-3 py-1 rounded-full">
                Après
            </span>
        </div>

        <div class="diff-item-1">
            <img alt="siege voiture après rénovation" src="/images/renovation-siege-apres-resized.webp"
                class="object-bottom" />
        </div>

        <div class="diff-item-2">
            <img alt="siege voiture avant rénovation" src="/images/renovation-siege-avant.webp" class="object-bottom" />
        </div>

        <div class="diff-resizer w-45"></div>
    </div>
    <img src="/images/interieur-bentley.webp" alt="voiture ancienne beige"
        class="w-full h-90 object-cover object-center rounded-md">

    <div class="diff relative group aspect-video w-full h-90 rounded-md overflow-hidden [--color-primary:#A27035]">

        <!-- Overlay texte -->
        <div class="absolute inset-0 z-20 flex items-end justify-between px-6
                md:opacity-0 md:group-hover:opacity-100
                transition-opacity duration-500
                pointer-events-none mb-5">

            <span class="bg-black/70 text-white text-sm md:text-base px-3 py-1 rounded-full backdrop-blur-sm">
                Avant
            </span>

            <span class="bg-brown2 text-white text-sm md:text-base px-3 py-1 rounded-full">
                Après
            </span>
        </div>

        <div class="diff-item-1">
            <img alt="micro-rayures portière après nettoyage" src="/images/volant-bentley-apres.webp"
                class="object-left" />
        </div>

        <div class="diff-item-2">
            <img alt="micro-rayures portière avant nettoyage" src="/images/volant-bentley-avant.webp"
                class="object-left" />
        </div>

        <div class="diff-resizer w-45"></div>
    </div>

    <!-- <img src="/images/ferrari-nettoyage.webp" alt="ferrari rouge de côté" class="w-full h-90 object-cover object-center rounded-md"> -->
</div>