@import "tailwindcss";
@import "tailwindcss-intersect";
@import "tailwindcss-animated";
@plugin "flyonui";
@import "../node_modules/flyonui/variants.css"; /* Require only if you want to use FlyonUI JS component */
@source "../node_modules/flyonui/index.js"; 
@plugin "@iconify/tailwind4";

@theme {
  --color-brown: #734609;
  --color-brown1: #9C7132;
  --color-brown2: #A27035;
  --color-black: #070707;
  --color-test:#0D1229;
  --color-gris: rgb(201, 201, 201);
  --color-success: #00CA4B;
  --color-error: #E03434;

}
@font-face {
  font-family: "Grotesk";
  src: url("/src/assets/fonts/Grotesk.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Exo2";
  src: url("/src/assets/fonts/exo2.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Exo2";
  src: url("/src/assets/fonts/exo2.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Exo2";
  src: url("/src/assets/fonts/exo2.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Exo2";
  src: url("/src/assets/fonts/exo2.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Exo2";
  src: url("/src/assets/fonts/exo2.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Exo2";
  src: url("/src/assets/fonts/exo2.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Exo2";
  src: url("/src/assets/fonts/exo2.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Exo2";
  src: url("/src/assets/fonts/exo2.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rajdhani";
  src: url("/src/assets/fonts/rajdhani.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Chrome / Edge / Safari */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  -webkit-text-fill-color: #1f2937; /* text-gray-800 */
  transition: background-color 5000s ease-in-out 0s;
}

/* Firefox */
input:-moz-autofill,
textarea:-moz-autofill {
  box-shadow: 0 0 0px 1000px white inset;
  -moz-text-fill-color: #1f2937;
}


body {
  height: 100%;
  margin:0;
  
}
:root {
  font-family: Exo2, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}
.bold {
  font-weight: 800;
}
.nav-link.active {
  @apply text-brown2 font-bold;
}
.nav-link.active::after {
  width: 100%;
}



/** PAGE ACCUEIL **/

.nav.scrolled {
  @apply bg-white text-black shadow-md ;
}

.nav.scrolled svg {
  @apply text-black;
}



/** FIN PAGE ACCUEIL */

/* Le volet */

/* Mobile menu ouvert */
.nav.menu-open {
  @apply bg-white text-black;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (max-width: 767px) {
  .no-anim-mobile {
    animation: none !important;
    transition: none !important;
    opacity: 1 !important;
    transform: none !important;
  }
}

/** FOOTER **/
footer a:hover{
  @apply text-white
}